.biller-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.biller-name .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.biller-name .image img {
  width: 20px;
}
.biller-name .text {
  font-weight: 700;
}
