.cardS {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(216, 218, 239, 0.25);
  transition: 0.3s;
  height: 123px;
  width: 123px;
  aspect-ratio: 1/1;
  border: none;
  background-color: #fff;
  padding: 16px;
  position: relative;
}
.cardS a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.cardS .image {
  width: 48px;
}
.cardS .image img {
  width: 100%;
}
.cardS .text h6 {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
