.dropdown,
.dropdown a {
  text-align: initial;
}
.dropdown button,
.dropdown button:first-child:active,
.dropdown button:focus,
.dropdown button:hover {
  background-color: transparent;
}
.dropdown a {
  color: #2d317f !important;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.dropdown button {
  width: fit-content !important;
  border: none;
  margin: 0;
  padding: 0;
}
.dropdown button::after {
  display: none !important;
}
