.service form,
.multiserviceInputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.multiserviceInputs {
  border: 1px solid #bebfd7;
}

.multiserviceInputs.multipayform.quickpayitemform {
  border: 0px;
  display: block;
}

.service-name {
  height: 116px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #bebfd7;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 24px;
}
.service-name .image {
  width: 40px;
}
.service-name .image img {
  width: 100%;
}
.service-name p {
  margin: 0;
}
.service input,
.service select {
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  padding: 16px 12px;
  text-align: center;
  width: 343px;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
button {
  border: none;
  border-radius: 8px !important;
  background-color: #ff8e0a;
  padding: 5px 15px;
  width: 343px;
  height: 36px;
}
select {
  padding: 16px 12px;
}

.multipayform select,
.multipayform input {
  padding: 5px;
}

@media (max-width: 400px) {
  button,
  input,
  select {
    width: 100% !important;
  }
}
/*  */
input[type="date"] {
  display: block;
  position: relative;
  padding: 1rem 3.5rem 1rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #8292a2;
  border-radius: 0.25rem;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem center no-repeat;
  cursor: pointer;
}
input[type="date"]:focus {
  outline: none;
}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background: rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity: 0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 120, 250, 1);
  background: rgba(0, 120, 250, 1);
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}
